.actOfContract{
    padding: 0px;
}
.addDiv{
    padding: 5px;
    border: 2px solid #377AB7;
    border-radius: 5px 5px 5px 5px;
}

.mainActs{
    border-bottom: 2px solid #377AB7;
    border-right: 2px solid #377AB7;
    border-left: 2px solid #377AB7;
    border-radius: 0px 0px 5px 5px;
}

.NumberContractInput{
    margin: 10px;
    border-radius: 3px;
    height: 25px;
    border: 1px solid black;
}

.NumberContractInput:focus{
    border: 1px solid #377AB7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.datetime-pickers-act{
    margin: 10px;
    border-radius: 3px;
    border: 1px solid black;
    width: 150px;
    height: 25px;
    color:rgba(0, 0, 0, 0.65)
}

.datetime-pickers-act:focus{
    border: 1px solid #377AB7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.datetime-pickers-act:hover{
    border: 1px solid #377AB7;
    cursor: pointer;
}

.NumberContractInput:hover{
    border: 1px solid #377AB7;
}

.addNewAct{
    padding: 5px;
}

#addButton{
    background-color: #377AB7;
    border: 2px solid #377AB7;
    border-radius: 5px 5px 5px 5px;
    color: white;
}

#addButton:hover{
    background-color: #1f62a1;
    border: 2px solid #1f62a1; 
    border-radius: 5px 5px 5px 5px;
    color: white;
}

#closeButton{
    background-color: #b73737;
    border: 2px solid #b73737;
    border-radius: 5px 5px 5px 5px;
    color: white; 
}

#closeButton:hover{
    background-color: #a11f1f;
    border: 2px solid #a11f1f; 
    border-radius: 5px 5px 5px 5px;
    color: white;
}