#mainHeaderDiv{
    position: relative;
    border-collapse: collapse;
    height: 45px;  
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px 5px 0px 0px;
    color: rgba(0, 0, 0, 0.65);;
}
#mainHeaderDiv .col-lg-3{    
    text-align: left;
    font-weight: bold;
    padding: 8px;
}
#mainHeaderDiv .col-lg-2{
    text-align: left;
    font-weight: bold;
    padding: 8px;
}
#mainHeaderDiv .col-lg-1{
    font-weight: bold;
    text-align: left;
    padding: 8px;
}
@media (max-width: 1200px) {
    #mainBody{
        overflow-x: scroll !important;
    }
}
@media (max-width: 1300px) {
    #mainBody{
        overflow-x: scroll !important;
    }
}
@media (max-width: 1400px) {
    #mainBody{
        overflow-x: scroll !important;
    }
}
@media (max-width: 1500px) {
    #mainBody{
        overflow-x: scroll !important;
    }
}
@media (max-width: 1600px) {
    #mainBody{
        overflow-x: scroll !important;
    }
}
@media (max-width: 1700px) {
    #mainBody{
        overflow-x: scroll !important;
    }
}


@media (min-width: 1000px) {
    .mainDiv{
        width: 165% !important;
    }
    #row{
        width: 167% !important;
    }
}
@media (min-width: 1100px) {
    .mainDiv{
        width: 155% !important;
    }
    #row{
        width: 157% !important;
    }
}
@media (min-width: 1200px) {
    .mainDiv{
        width: 145% !important;
    }
    #row{
        width: 147% !important;
    }
}
@media (min-width: 1300px) {
    .mainDiv{
        width: 135% !important;
    }
    #row{
        width: 137% !important;
    }
}
@media (min-width: 1400px) {
    .mainDiv{
        width: 125% !important;
    }
    #row{
        width: 127% !important;
    }
}
@media (min-width: 1500px) {
    .mainDiv{
        width: 115% !important;
    }
    #row{
        width: 117% !important;
    }
}
@media (min-width: 1600px) {
    .mainDiv{
        width: 100% !important;
    }
    #row{
        width: 102% !important;
    }
}